<%= form_for(@prefecture) do |f| %>
  <% if @prefecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prefecture.errors.count, "error") %> prohibited this prefecture from being saved:</h2>

      <ul>
      <% @prefecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prefecture %><br>
    <%= f.text_field :prefecture %>
  </div>
  <div class="field">
    <%= f.label :prefecture_id %><br>
    <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
