<p id="notice"><%= notice %></p>

<p>
  <strong>Prefecture:</strong>
  <%= @prefecture.prefecture %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @prefecture.prefecture_id %>
</p>

<%= link_to 'Edit', edit_prefecture_path(@prefecture) %> |
<%= link_to 'Back', prefectures_path %>
