<!DOCTYPE html>
<html ng-app="iiname" class="<%= 'feature-toggle-disabled' if Rails.env.production? %>">
  <head>
    <title>いいね～む</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="http://maps.google.com/maps/api/js?sensor=true&language=ja&libraries=places"></script>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="/slick.css">
    <link rel="stylesheet" href="/slick-theme.css">

    <script type="text/javascript">
      $(document).ready(function(){
        $('.question_slider').slick({
        autoplay:false,
        dots:true,
        slidesToShow:1,
        slidesToScroll:1,
        draggable: false,
        });
      });
      $(window).scroll(function(){
        var now = $(window).scrollTop();
        if( now > 500 ){
          $('#page-top').fadeIn('slow') ;
        }else {
          $('#page-top').fadeOut('slow');
        }
      });
      function movepagetop() {
        var x1 = x2 = x3 = 0;
        var y1 = y2 = y3 = 0;
        if (document.documentElement) {
          x1 = document.documentElement.scrollLeft || 0;
          y1 = document.documentElement.scrollTop || 0;
        }
        if (document.body) {
          x2 = document.body.scrollLeft || 0;
          y2 = document.body.scrollTop || 0;
        }
          x3 = window.scrollX || 0;
          y3 = window.scrollY || 0;
        var x = Math.max(x1, Math.max(x2, x3));
        var y = Math.max(y1, Math.max(y2, y3));
        window.scrollTo(Math.floor(x / 2), Math.floor(y / 2));
        if (x > 0 || y > 0) {
          window.setTimeout("movepagetop()", 25);
        }
      }
    </script>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="row">
          <div class="col-xs-10 logo">
            <a href="<%= root_path %>"><img src="<%= asset_path "logo.gif" %>"></a>
          </div>
          <div class="col-xs-2 icon">
            <a rel="leanModal" href="#modal-window"><img src="<%= asset_path "question.gif" %>"></a>
          </div>
        </div>
      </header>
      <div class="row">
        <div class="col-md-12 notice_wrapper">
          <div class="black_line"></div>
          <p id="notice"><%= notice %></p>
        </div>
      </div>
      <%= yield %>
      <footer class="footer">
        <div class="row">
          <div class="col-md-12">
            <div class="black_line"></div>
            <p>&copy; Team iine, Advanced Institute of Industrial Technology, enPiT BizApp, 2015</p>
          </div>
        </div>
      </footer>
    </div>
    <div id="page-top" class="page-top">
      <p><a id="move-page-top" class="move-page-top" onclick="movepagetop(); return false">▲</a></p>
    </div>
    <div id="modal-window" style="display:none;">
      <center><strong>チーム名ブレインストーミングツール　いいねーむ</strong></center>
      <p style="margin-bottom:1em;"></p>
      <div align="center">
        <ul>
          <li>「いいね～む」はチーム名ブレインストーミングツールです。</li>
          <li>10秒毎に一つ、チーム名の提案をします。</li>
          <li>質問に答えると、チーム名に反映されます。</li>
          <li>付箋をクリックすると、使用するチーム名を決定します。</li>
          <li>チーム名を決定すると、ツイッターでつぶやくことができます。</li>
        </ul>
      </div>
      <p style="margin-bottom:2em;"><center><B>免責事項</B></center></p>
        <div align="left">
          <ul>
          <li>当ウェブサイトに掲載された情報を利用された結果、生ずる損害について、一切の責任を負いかねます。</li>
          <li>当ウェブサイトの掲載内容は所属する団体の意見を代表するものではありません。</li>
          </ul>
        </div>
      <p style="margin-bottom:2em;"><center><B>アンケートのお願い</B></center></p>
        <div align="left">
          <ul>
            <li>この度はチーム名ブレインストーミングツール「いいね～む」にアクセスして頂き誠にありがとうございます。</li>
            <li>当ウェブサイトをもっと使いやすいものにする為、是非以下のアンケートへのご協力をお願い致します。</li>
          </ul>
        </div>
       <div style="margin-bottom:2em;">
         <p>
          <div align="right">
            <center><a href="http://goo.gl/forms/o3UmwG6kMT" target="_blank" >アンケートに回答する</a></center>
          </div>
         </p>
        </div>
      <div class="modal_close"><center><p style="margin-bottom:1em;"><%= link_to "閉じる" %></center></p></div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71059650-1', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>
