<!DOCTYPE html>
<html ng-app="iiname" class="<%= 'feature-toggle-disabled' if Rails.env.production? %>">
<head>
  <title>いいね～む</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header background-image="/images/header.jpg">
      <div class="row">
        <div class="col-md-12">
          <h1><%= link_to "いいね～む", root_path %></h1>
        </div>
      </div>
    </header>
    <div class="row">
      <div class="col-md-12">
        <p id="notice"><%= notice %></p>
      </div>
    </div>
    <%= yield %>
    <footer class="footer">
      <div class="row">
        <div class="col-md-12">
          <p>&nbsp;</p>
          <p>&copy; Team iine / 産業技術大学院大学 enPiT BizApp / 2015</p>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
