<!DOCTYPE html>
<html ng-app="iiname" class="<%= 'feature-toggle-disabled' if Rails.env.production? %>">
<head>
  <title>いいね～む</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://maps.google.com/maps/api/js?sensor=true&language=ja&libraries=places"></script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <div class="row">
        <div class="col-md-12">
          <img src="<%= asset_path "question.gif" %>" />
        </div>
      </div>
    </header>
    <div class="row">
      <div class="col-md-12 notice_wrapper">
        <p id="notice"><%= notice %></p>
      </div>
    </div>
    <%= yield %>
    <footer class="footer">
      <div class="row">
        <div class="col-md-12">
          <p>&nbsp;</p>
          <p>&copy; Team iine, Advanced Institute of Industrial Technology, enPiT BizApp, 2015</p>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
