<!DOCTYPE html>
<html ng-app="iiname" class="<%= 'feature-toggle-disabled' if Rails.env.production? %>">
<head>
  <title>Iiname</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
      <div class="row">
        <div class="col-md-12">
          <h1>いいね～む</h1>
        </div>
      </div>
    </header>
    <div ng-controller="MainController as vm" ng-cloak>
      <div class="row">
        <div class="suggestion col-md-12">
          <p class="lead">あなたのチーム名は</p>
          <div id="highest_suggestion">{{vm.keyword}}</div>
          <p class="lead">です</p>
        </div>
        <%= yield %>
        <div class="list col-md-4 col-md-pull-8">
          <ul id="list" class="list-unstyled" ng-repeat="element in vm.list | orderBy:'$index':true track by $index">
            <li>{{element}}</li>
          </ul>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; team iine 2015</p>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>
